# dependencies for the backend

# validation
pydantic
pydantic[email]
pydantic-settings

# server
fastapi
uvicorn[standard]
httpx

# authentication
pwdlib[argon2]
PyJWT

# database
asyncpg
sqlalchemy
psycopg2-binary
alembic

# test
pytest
pytest-asyncio

